<!DOCTYPE html>
    <html lang="en">

    <head>


        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="css/register.css">
        <title>Sign Up</title>
    </head>

    <body style="background-color: black;">

        <%- include('header'); -%>









            <div class="bg-pic">
                <div class="container register mb-5">
                    <div class="row">

                        <div class="col-md-8 register-left">


                            <h3 class="register-heading">UPLOAD YOUR COURSE</h3>

                            <form type="/submit" action="/create-course" method="POST">
                                <div class="row register-form">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Enter course title"
                                                name="title" id="title" required/>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Enter Your Name*"
                                                name="name" id="name" required/>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Enter the description*"
                                                name="description" id="description" required/>
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control" name="category" id="category">
                                                <option value="Metal">Metal</option>
                                                <option value="Rock">Rock</option>
                                                <option value="Blues">Blues</option>
                                                <option value="Ukulele">Ukulele</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Enter the Price*"
                                                name="price" id="price" required/>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Enter the Image URL *"
                                                name="image_Url" id="image_Url" required/>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="embed link for video 1"
                                                name="video1" id="video1" required/>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="embed link for video 2"
                                                name="video2" id="video2" required/>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="embed link for video 3"
                                                name="video3" id="video3" required/>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="embed link for video 4"
                                                name="video4" id="video4" required/>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="embed link for video 5"
                                                name="video5" id="video5" required/>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="embed link for video 6"
                                                name="video6" id="video6" required/>
                                        </div>
                                        <div>
                                            <button type="submit" class="btnRegister" id="btn">
                                                <div class="reg-button">Upload the course</div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>


                        </div>
                        <div class="col-md-4 register container-2">
                            <img src="images/signup1.jpg" class="icon-2" alt="image" />

                        </div>
                    </div>

                </div>
            </div>

            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
            <script src="js/Register.js"></script>
            <script src="js/animation.js"></script>
            <%- include('footer'); -%>
    </body>

    </html>